@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  font-family: fanlste;
  src: url(Fuentes/fanlste.otf) format("opentype");
}

:root {
  --negro: #010101;
  --carbon: #2c2c2c;
  --dorado: #dac085;
  --gris: #efe4c8;
  --blanco: #f6f9e8;
}

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin: 5px 2px;
}

h1 {
  margin: 0px;
  font-family: "fanlste", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.5px;
}

h3 {
  margin: 0px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  margin: 5px 2px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:visited {
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
}

#Inicio {
  background-color: var(--blanco);
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
}

h2 {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 22%;
  font-size: 72px;
  font-weight: 500;
}

canvas#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  transform: rotate(0deg) scale(2) translateY(-42%);
  --gradient-color-1: #cf5f36;
  --gradient-color-2: #d71c5a;
  --gradient-color-3: #94a5f4;
  --gradient-color-4: #9f4ed3;
  --gradient-speed: 0.000004;
}

header {
  z-index: 2;
  height: 6.2em;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  align-items: center;
  justify-content: center;
}

header ul {
  list-style: none;
  display: flex;
  padding: 0;
}

header li {
  margin: 0 10px;
}

#logoForfeit {
  max-width: 160px;
}

.first-sec-head {
  border-bottom: 2px solid var(--gris);
  align-items: center;
  justify-content: space-around;
}

.second-sec-head {
  height: 100%;
}

nav {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-link {
  transition: 0.7s ease; /* Ajusté el valor de la propiedad transition */
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.iconoNav {
  width: 2.5em;
  height: 2.5em;
}

#caracteristicas {
  position: relative;
  display: flex;
  height: 14vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slider-container {
  width: 100%;
}

.slider-content {
  width: 33%;
}

.car-box {
  width: 100%;
}

.car-box div {
  width: 100%;
}

.car-box img {
  width: 64px;
}

#Bento {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.wrapper {
  max-width: 1800px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 220px 220px;
  grid-gap: 10px;
}

.wrapper div {
  position: relative;
  max-width: 600px;
}

.wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.wrapper .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  color: var(--blanco);
}

.wrapper span,
.wrapper h3,
.wrapper .comprarbtn {
  display: block;
  margin: 20px;
  text-transform: uppercase;
  text-align: left;
}

.wrapper span {
  font-weight: 600;
  font-size: 16px;
  margin: 0px 20px;
}

.wrapper h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 5px 20px;
}

.wrapper .comprarbtn a {
  text-decoration: none;
  color: var(--dorado);
  border: 1px solid var(--dorado);
  padding: 10px 15px;
  border-radius: 1px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.grid1,
.grid2,
.grid3,
.grid4 {
  position: relative;
}

.grid2 .comprarbtn a {
  border-color: var(--blanco);
  color: var(--blanco);
}
.grid4 .comprarbtn a {
  border-color: var(--blanco);
  color: var(--blanco);
}

.wrapper .comprarbtn a:hover {
  background-color: var(--dorado);
  color: var(--blanco);
}

.grid2 .comprarbtn a:hover {
  border-color: var(--dorado);
  color: var(--negro);
}

.grid4 .comprarbtn a:hover {
  border-color: var(--dorado);
  background-color: var(--blanco);
  color: var(--negro);
}

.grid1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.grid3 {
  grid-column: 3/4;
  grid-row: 1/3;
  width: 255px;
}

.wrapper .grid3 .content {
  height: 100%;
  top: 2em;
}

.grid4 {
  grid-column: 1/3;
  grid-row: 2/3;
}

/* Estilos específicos para cambiar el color en algunos grids */
.grid2 span,
.grid2 h3,
.grid2 a,
.grid4 span,
.grid4 h3,
.grid4 a {
  color: var(--negro);
}

.zoom-container {
  overflow: hidden;
  position: relative;
}

.zoom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.zoom-container:hover .zoom-img {
  transform: scale(1.1);
}

footer {
  background-color: var(--carbon);
  color: var(--blanco);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer p{
  font-size: 14px;
  font-weight: 300;
}
footer a{
  font-size: 14px;
  font-weight: 300;
}

.tituloFooter{
  font-size: 18px;
  font-weight: 500;
}

.social-media,
.contact-info,
.customer-service,
.copyright {
  margin-bottom: 20px;
}

.social-media a img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centeralign {
  text-align: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
    font-family: "fanlste", sans-serif;
    text-transform: uppercase;
  }

  h2 {
    max-width: 300px;
    position: relative;
    text-align: start;
    left: 0%;
    top: 250px;
    font-size: 3.3rem;
  }

  header {
    min-height: 10px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    align-items: center;
  }

  .first-sec-head {
    height: 50px;
    justify-content: space-between;
    margin: 0px 20px;
  }

  header p {
    display: none;
  }

  .iconoNav {
    width: 2.2em;
    height: 2.2em;
  }

  .hamburger {
    display: block;
  }
  .bar {
    background-color: var(--negro);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5em) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.5em) rotate(-45deg);
  }

  nav ul {
    margin: -20px 0px;
  }
  nav li {
    color: var(--blanco);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--negro);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #Inicio {
    background-color: var(--blanco);
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -2;
    top: 0;
    left: 0;
    min-height: 300px;
  }
  canvas#canvas {
    height: 100vh;
    min-height: 300px;
  }

  .car-box {
    width: 100%;
  }

  .slider-container {
    width: auto; /* Asegúrate de que el contenedor ocupe el 100% del ancho */
    position: relative;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-width: 100%;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
  }
  

  .slider-content {
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    flex-shrink: 0;
    width: 100%;
    white-space: normal;
    scroll-snap-align: start; /* Asegúrate de que los elementos se alineen correctamente */
  }

  /* Ocultar la barra de desplazamiento en Chrome y Firefox */
  .slider-container::-webkit-scrollbar {
    display: none;
  }

  /* Asegúrate de que cada .slider-content tenga suficiente espacio */
  .slider-content > .car-box {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px; /* Ajusta según tus necesidades */
  }

  .scroll-btn {
    font-size: 24px;
    position: absolute;
    background: none;
    color: var(--negro);
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 10px;
  }

  #prevBtn {
    left: 10px; /* Ajusta la posición desde la izquierda según sea necesario */
  }

  #nextBtn {
    right: 10px; /* Ajusta la posición desde la derecha según sea necesario */
  }

  #Bento {
    padding: 20px;
    width: 100%;
  }

  .wrapper {
    max-width: 340px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 125px 175px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
  }

  .wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .wrapper span,
  .wrapper h3,
  .wrapper .comprarbtn {
    display: block;
    margin: 20px;
    text-transform: uppercase;
    text-align: left;
  }

  .wrapper span {
    font-weight: 500;
    font-size: 12px;
    margin: 1px 10px;
    color: var(--negro);
  }

  .wrapper h3 {
    font-weight: 600;
    font-size: 16px;
    margin: 1px 10px;
    color: var(--negro);
  }

  .grid1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .grid2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .grid2 span,
  .grid2 h3 {
    color: var(--blanco);
  }

  .grid3 {
    grid-column: 2/2;
    grid-row: 1/4;
    width: 175px;
  }

  .grid3 span {
    margin-bottom: 5px !important;
    color: var(--blanco) !important;
  }

  .grid3 h3 {
    color: var(--blanco) !important;
  }

  .wrapper .grid3 .content {
    top: 11em;
  }

  .grid4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .grid4 span,
  .grid4 h3 {
    color: var(--dorado);
  }
}
